In [1]:
print("zahid")

zahid

In [2]:
a="pakistan"
print(a)
print(type(a))

pakistan
<class 'str'>

In [3]:
a="paKistan ziNda bad"
print(a)

paKistan ziNda bad

In [5]:
a.capitalize()

'Pakistan zinda bad'

In [6]:
a.upper()

'PAKISTAN ZINDA BAD'

In [7]:
print(a)

paKistan ziNda bad

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
print??

In [12]:
a.center??

In [26]:
abc= "saylani karachi pakistani"

In [27]:
print(abc)

saylani karachi pakistani

In [28]:
abc= '''
saylani 
pakisatan
'''
print(abc)

saylani
pakisatan

In [29]:
abc="""
*******PIAIC*****
saylani walware trust
Name: zahid
Fther's Name: M.Gul
Roll no: 123
"""

print(abc)

*******PIAIC*****
saylani walware trust
Name: zahid
Fther's Name: M.Gul
Roll no: 123

In [31]:
abc="""
*******PIAIC*****
saylani walware trust
Name: {}
Fther's Name: {}
Roll no: {}
"""

abc.format(Name, farher_name, roll_no)

NameError: name 'Name' is not defined

In [32]:
abc="""
*******PIAIC*****
saylani walware trust
Name: {}
Fther's Name: {}
Roll no: {}
"""

abc.format(Name, farher_name, roll_no)

NameError: name 'Name' is not defined

In [33]:
a=input("name")
print(a)

namezahid
zahid

In [34]:
name=input("enter name")
print(name)

enter namezahid
zahid

In [35]:
a="pakistan"
b="zind bad"

a+b

'pakistanzind bad'

In [36]:
a=4
b=3
a+b

7

In [37]:
5+7

12

In [38]:
5+2

7

In [39]:
4-2

2

In [40]:
12/3

4.0

In [41]:
12//3

4

In [42]:
15%4

3

In [43]:
15//4.0

3.0

In [44]:
15/4

3.75

In [45]:
# 2 *2

In [46]:
2+6*8/5(2*3)

TypeError: 'int' object is not callable

In [47]:
2+6*8/5+(2*3)

17.6

In [48]:
a= china

NameError: name 'china' is not defined

In [50]:
a= "china"
print(a)

china

In [51]:
a*2

'chinachina'

In [53]:
a="abc"
print(a)

abc

In [54]:
a="xyz"
a

'xyz'

In [56]:
a *=2

In [57]:
a %=2

TypeError: not all arguments converted during string formatting

In [58]:
#3 * 3 *3
a**=2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [59]:
5==5

True

In [60]:
5>3

True

In [61]:
5<3

False

In [62]:
5>5

False

In [63]:
5>=5

True

In [64]:
5!=5

False

In [66]:
5==5 and 6<=7 and 10>=11

False

In [69]:
a=input()
b=input()

a+b + str (b)

2
5

'255'

In [72]:
name = input("enter your name")
if name == 'qasim'
print("teacher")
else
print("student")

SyntaxError: invalid syntax (<ipython-input-72-92b52b28f0dc>, line 2)

In [73]:
name = input("enter your name")
if name == 'qasim':
print("teacher")
else
print("student")

IndentationError: expected an indented block (<ipython-input-73-3ba3e2bd5a2a>, line 3)

In [74]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your Namezahid
Student

In [75]:
names = ['zahid', 'asim', 'sherry']
name[2]

'h'

In [76]:
names[2]

'sherry'