In [2]:
print("zahid")

zahid

In [3]:
a= "zahid"
print("a")
print(type(a))

a
<class 'str'>

In [4]:
a= "paKistan ziNda bad"
print("a")

a

In [5]:
print(a)

paKistan ziNda bad

In [6]:
a.capitalize

In [7]:
a.capitalize()

'Pakistan zinda bad'

In [8]:
a.zfill()

TypeError: zfill() takes exactly one argument (0 given)

In [9]:
a.casefold()

'pakistan zinda bad'

In [10]:
a.center()

TypeError: center() takes at least 1 argument (0 given)

In [11]:
a.count()

TypeError: count() takes at least 1 argument (0 given)

In [12]:
a.encode()

b'paKistan ziNda bad'

In [13]:
a.count()
print(a)

TypeError: count() takes at least 1 argument (0 given)

In [14]:
abc= """
name: zahid
city: karaachi
country: pakistan
"""

print(abc)

name: zahid
city: karaachi
country: pakistan

In [15]:
abc= '''
name: zahid
city: karaachi
country: pakistan
'''

print(abc)

name: zahid
city: karaachi
country: pakistan

In [20]:
name: "zahid"
city: "karachi"
country: pakistan

"abc= """
name: {}
city: {}
country: {}
"""

print(abc.format)

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-20-3bea2c23c8fd>, line 11)

In [21]:
a= input("enter name")
a

enter namezahid

'zahid'

In [22]:
print(a)

zahid

In [23]:
name= input("enter name")
city= input("enter city ")
country= input("enter country")

abc = """
name: {}
city: {}
country: {}
"""

print(abc.format(name,city,country))

enter namezahid
enter city karachi
enter countrypakistan

name: zahid
city: karachi
country: pakistan

In [24]:
a= "zahid"
b= "hussain"
a+b

'zahidhussain'

In [25]:
a= 5
b= 10
a+b

15

In [26]:
10+15

25

In [27]:
5-2

3

In [28]:
10*2

20

In [29]:
15/5

3.0

In [30]:
15/4

3.75

In [31]:
15%4

3

In [32]:
15//4

3

In [33]:
15//4.0

3.0

In [34]:
2**3

8

In [35]:
# 2*2*2

In [36]:
2 + 8 - 15 * 2**2 /7 - (3*4)

-10.571428571428571

In [37]:
a= "pakistan"
a

'pakistan'

In [38]:
a= "china"
a

'china'

In [39]:
a * 2

'chinachina'

In [40]:
a= "abc"
a

'abc'

In [41]:
a= "xyz"
a

'xyz'

In [42]:
a*=2
a

'xyzxyz'

In [43]:
a * 2
a

'xyzxyz'

In [44]:
a %= 2

TypeError: not all arguments converted during string formatting

In [45]:
a %=2
a

TypeError: not all arguments converted during string formatting

In [46]:
a= 15
a %= 4
a

3

In [47]:
# 3*3*3
a **= 2
a

9

In [48]:
a= "abc"
a **= 2
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [49]:
5== 5

True

In [50]:
5>=3

True

In [51]:
5 != 3

True

In [52]:
5 == 5 and 5>= 3 and 5 != 3

True

In [53]:
5 == 6 and 5>= 3 and 5 != 3

False

In [54]:
5 == 5 or 5>= 3 or 5 != 3

True

In [55]:
5 == 6 or 5>= 3 or 5 != 3

True

In [56]:
a= 'abc'
b= 'xyz'
c= '287'

a +b + c

'abcxyz287'

In [57]:
a= 'abc'
b= 'xyz'
c= '287'

print (a, b, c)

abc xyz 287

In [58]:
a= 'abc'
b= 'xyz'
c= 287

a + b + c

TypeError: can only concatenate str (not "int") to str

In [59]:
a= 'abc'
b= 'xyz'
c= 287

print (a,b,c)

abc xyz 287

In [60]:
a= 'abc'
b= 'xyz'
c= 287

a+b+ str(c)

'abcxyz287'

In [61]:
a= '1'
b= '1'

a+b

'11'

In [62]:
a= input()
b= input()

a+b

1
1

'11'

In [63]:
int(a) + int(b)

2

In [64]:
float(a) + float(b)

2.0

In [65]:
a+b

'11'

In [66]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [67]:
a+b

'11'

In [68]:
name = input("enter name")

if name == 'qasim':
    print("teacher")
    
else:
    print("student")

enter namezahid
student

In [69]:
name = input("enter name")

if name == 'qasim':
    print("teacher")
    
else:
    print("student")

enter nameQasim
student

In [70]:
name = input("enter name")

if name.lower() == 'qasim':
    print("teacher")
    
else:
    print("student")

enter nameQasim
teacher

In [71]:
per = 78

if per>=0
    print("fail")

SyntaxError: invalid syntax (<ipython-input-71-57b6bc035e4b>, line 3)

In [73]:
per = 78

if per>=0:
    print("fail")
elif per >=33:
    print("e")
elif per>=40 :
    print("d")
elif per >=50 :
    print("c")
elif per >=60 :
    print("b")
elif per >=70:
    print("a")
elif per >=80 :
    print("a+")

fail

In [75]:
per= input("enter your percentage")

per

if per>=0:
    print("fail")
elif per >=33:
    print("e")
elif per>=40 :
    print("d")
elif per >=50 :
    print("c")
elif per >=60 :
    print("b")
elif per >=70:
    print("a")
elif per >=80 :
    print("a+")

enter your percentage98

TypeError: '>=' not supported between instances of 'str' and 'int'

In [77]:
per = 78

if per>=0 and per <33:
    print("fail")
elif per >=33 and per<40:
    print("e")
elif per>=40 and per<50:
    print("d")
elif per >=50 and per <60:
    print("c")
elif per >=60 and per <70:
    print("b")
elif per >=70 and per <80:
    print("a")
elif per >=80 and per <=100:
    print("a+")

a

In [78]:
names =['zahid' , 'asim' , 'sherry']
names

['zahid', 'asim', 'sherry']

In [79]:
names[2] = 'humayun'
names

['zahid', 'asim', 'humayun']

In [81]:
names = []
while True:
    a= input("names")
    if a!= 'x':
        names.append(a)
    else:
        break
        
        
        
names

namesnaveed
nameshuzafa
namesasif
namesdanyal
nameskhan
namesx

['naveed', 'huzafa', 'asif', 'danyal', 'khan']